
.station{
	display: inline-block;
	padding: 5px;
	color:rgb(68, 29, 240);
	font-weight: 800;
	background-color: bisque;
	border: 2px solid rgb(88, 30, 30);
	border-radius: 5%;
	cursor: pointer;
}
.station:hover{
	background-color: rgb(241, 165, 110);
}

/* h1{
	color:red;
}
p{
	width: 200px;
	margin: 0 auto;
	text-align: center;
}  */
/* 在 assets 下, CSS 會成為各組件共用區 */
